header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 76px;
    background-color: black;
}

.container-logo{
    margin-left: 1rem;
}

.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: white;
}

.navText{
    padding: 10px;
}